# Update Time: 2024-05-01 18:02
version: "3.4"

x-defines:
  service-common: &service-common-ref
    networks: [network_cluster]
    restart: on-failure
  deploy-common: &deploy-common-ref
    mode: replicated
    replicas: 1
  placement-default: &placement-default-ref
    placement:
      constraints:
        - node.labels.type == vm
        - node.labels.database == true
  driver-common: &driver-common-ref
    type: nfs
    o: addr=${NFS_SERVER},rw,nfsvers=4

services:
  # ------------------------------------------------------------
  # Mariadb 10
  # ------------------------------------------------------------
  mariadb:
    image: mariadb:latest
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      TZ: ${TZ}
    volumes:
      - nfs_mariadb_data:/var/lib/mysql
      - nfs_mariadb_conf:/etc/mysql/conf.d
      - nfs_mariadb_log:/var/log/mysql
    logging:
      driver: fluentd
      options:
        tag: docker.database.mariadb
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.tcp.routers.mariadb.rule=HostSNI(`*`)"
        - "traefik.tcp.routers.mariadb.entrypoints=mariadb"
        - "traefik.tcp.routers.mariadb.service=mariadb"
        - "traefik.tcp.services.mariadb.loadbalancer.server.port=3306"
        - homepage.group=Database & Development
        - homepage.name=MySQL
        - homepage.icon=mysql.png
        - homepage.description=Mariadb 10
        - homepage.ping=mariadb
        - homepage.weight=10
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Phpmyadmin
  # ------------------------------------------------------------
  phpmyadmin:
    image: phpmyadmin:latest
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      PMA_ARBITRARY: ${PMA_ARBITRARY}
      PMA_HOSTS: ${PMA_HOSTS}
      PMA_VERBOSES: ${PMA_VERBOSES}
      PMA_PORTS: ${PMA_PORTS}
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
      TZ: ${TZ}
    volumes:
      - nfs_phpmyadmin:/var/www/html/themes/mytheme
    logging:
      driver: fluentd
      options:
        tag: docker.database.phpmyadmin
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.phpmyadmin.rule=Host(`mysqladmin.${DOMAIN_SWARM}`,`mysqladmin.${DOMAIN_EMERGENCY}`)"
        - "traefik.http.routers.phpmyadmin.entrypoints=websecure"
        - "traefik.http.routers.phpmyadmin.service=phpmyadmin"
        - "traefik.http.routers.phpmyadmin.middlewares=auth,normal-chain@file"
        - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"
        - homepage.group=Database & Development
        - homepage.name=MySQL Admin
        - homepage.icon=mysql.png
        - homepage.href=https://mysqladmin.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=MySQL管理
        - homepage.siteMonitor=http://phpmyadmin:80
        - homepage.weight=11
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Postgres 14
  # ------------------------------------------------------------
  postgres:
    image: postgres:14.7
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      PGDATA: ${PGDATA}
      TZ: ${TZ}
    volumes:
      - nfs_postgres:${PGDATA}
    logging:
      driver: fluentd
      options:
        tag: docker.database.postgres
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.tcp.routers.postgres.rule=HostSNI(`*`)"
        - "traefik.tcp.routers.postgres.entrypoints=postgres"
        - "traefik.tcp.routers.postgres.service=postgres"
        - "traefik.tcp.services.postgres.loadbalancer.server.port=5432"
        - homepage.group=Database & Development
        - homepage.name=PostgreSQL
        - homepage.icon=postgres.png
        - homepage.description=PostgreSQL 14
        - homepage.ping=postgres
        - homepage.weight=12
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Postgres Vector
  # ------------------------------------------------------------
  pgvector:
    image: ankane/pgvector:v0.5.0
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      PGDATA: ${PGDATA}
      TZ: ${TZ}
    volumes:
      - nfs_pgvector:${PGDATA}
    logging:
      driver: fluentd
      options:
        tag: docker.database.pgvector
        fluentd-async-connect: "true"
    deploy:
      labels:
        # - "traefik.enable=true"
        # - "traefik.tcp.routers.pgvector.rule=HostSNI(`*`)"
        # - "traefik.tcp.routers.pgvector.entrypoints=pgvector"
        # - "traefik.tcp.routers.pgvector.service=pgvector"
        # - "traefik.tcp.services.pgvector.loadbalancer.server.port=5432"
        - homepage.group=Database & Development
        - homepage.name=PGVector
        - homepage.icon=postgres.png
        - homepage.description=PostgreSQL Vector
        - homepage.ping=postgres
        - homepage.weight=13
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Pgadmin
  # ------------------------------------------------------------
  pgadmin:
    image: dpage/pgadmin4:latest
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      TZ: ${TZ}
    volumes:
      - nfs_pgadmin_data:/var/lib/pgadmin
      - nfs_pgadmin_src:/pgadmin4
    logging:
      driver: fluentd
      options:
        tag: docker.database.pgadmin
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pgadmin.rule=Host(`pgadmin.${DOMAIN_SWARM}`,`pgadmin.${DOMAIN_EMERGENCY}`)"
        - "traefik.http.routers.pgadmin.entrypoints=websecure"
        - "traefik.http.routers.pgadmin.service=pgadmin"
        - "traefik.http.routers.pgadmin.middlewares=auth,normal-chain@file"
        - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
        - homepage.group=Database & Development
        - homepage.name=PostgreSQL Admin
        - homepage.icon=postgres.png
        - homepage.href=https://pgadmin.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=PostgreSQL管理
        - homepage.siteMonitor=http://pgadmin
        - homepage.weight=14
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Mongo 5
  # ------------------------------------------------------------
  mongo:
    image: mongo:5.0
    <<: *service-common-ref
    ports:
      - "27017:27017"
    environment:
      # 直接使用Portainer容器内的环境变量
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      TZ: ${TZ}
    volumes:
      - nfs_mongo_data_db:/data/db
      - nfs_mongo_data_configdb:/data/configdb
      - nfs_mongo_config:/etc/mongo
    logging:
      driver: fluentd
      options:
        tag: docker.database.mongo
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.tcp.routers.mongo.rule=HostSNI(`*`)"
        - "traefik.tcp.routers.mongo.entrypoints=mongo"
        - "traefik.tcp.routers.mongo.service=mongo"
        - "traefik.tcp.services.mongo.loadbalancer.server.port=27017"
        - homepage.group=Database & Development
        - homepage.name=MongoDB
        - homepage.icon=mongodb.png
        - homepage.description=MongoDB数据库
        - homepage.ping=mongo
        - homepage.weight=15
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Mongo-Express
  # ------------------------------------------------------------
  mongoadmin:
    image: mongo-express:0.49.0
    <<: *service-common-ref
    environment:
      # 直接使用Portainer容器内的环境变量
      ME_CONFIG_OPTIONS_EDITORTHEME: ${ME_CONFIG_OPTIONS_EDITORTHEME}
      ME_CONFIG_MONGODB_ENABLE_ADMIN: ${ME_CONFIG_MONGODB_ENABLE_ADMIN}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
      ME_CONFIG_MONGODB_PORT: ${ME_CONFIG_MONGODB_PORT}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${ME_CONFIG_MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${ME_CONFIG_MONGODB_ADMINPASSWORD}
      # ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      # ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${ME_CONFIG_MONGODB_URL}
      TZ: ${TZ}
    logging:
      driver: fluentd
      options:
        tag: docker.database.mongoadmin
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.mongoadmin.rule=Host(`mongoadmin.${DOMAIN_SWARM}`,`mongoadmin.${DOMAIN_EMERGENCY}`)"
        - "traefik.http.routers.mongoadmin.entrypoints=websecure"
        - "traefik.http.routers.mongoadmin.service=mongoadmin"
        - "traefik.http.routers.mongoadmin.middlewares=auth,normal-chain@file"
        - "traefik.http.services.mongoadmin.loadbalancer.server.port=8081"
        - homepage.group=Database & Development
        - homepage.name=MongoDB Admin
        - homepage.icon=mongodb.png
        - homepage.href=https://mongoadmin.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=MongoDB管理
        - homepage.siteMonitor=http://mongoadmin:8081
        - homepage.weight=16
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Redis
  # ------------------------------------------------------------
  redis:
    image: redis:latest
    command: redis-server /etc/redis/redis.conf
    <<: *service-common-ref
    ports:
      - "6379:6379"
    volumes:
      - nfs_redis_data:/data
      - nfs_redis_config:/etc/redis
    logging:
      driver: fluentd
      options:
        tag: docker.database.redis
        fluentd-async-connect: "true"
    deploy:
      labels:
        - homepage.group=Database & Development
        - homepage.name=Redis
        - homepage.icon=redis.png
        - homepage.description=Redis
        - homepage.ping=redis
        - homepage.weight=17
      <<: [*deploy-common-ref,*placement-default-ref]

  # ------------------------------------------------------------
  # Redis UI
  # ------------------------------------------------------------
  redisui:
    image: patrikx3/p3x-redis-ui:latest
    <<: *service-common-ref
    volumes:
        - nfs_redis_ui:/settings
    logging:
      driver: fluentd
      options:
        tag: docker.database.redisui
        fluentd-async-connect: "true"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.redisui.rule=Host(`redisui.${DOMAIN_SWARM}`,`redisui.${DOMAIN_EMERGENCY}`)"
        - "traefik.http.routers.redisui.entrypoints=websecure"
        - "traefik.http.routers.redisui.service=redisui"
        - "traefik.http.routers.redisui.middlewares=auth,normal-chain@file"
        - "traefik.http.services.redisui.loadbalancer.server.port=7843"
        - homepage.group=Database & Development
        - homepage.name=Redis UI
        - homepage.icon=redis.png
        - homepage.href=https://redisui.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=Redis管理
        - homepage.siteMonitor=http://redisui:7843
        - homepage.weight=18
      <<: [*deploy-common-ref,*placement-default-ref]

networks:
  network_cluster:
    external: true

volumes:
  # NFS
  nfs_mariadb_data:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mysql/mariadb10/data
  nfs_mariadb_conf:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mysql/mariadb10/conf
  nfs_mariadb_log:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mysql/mariadb10/log
  nfs_phpmyadmin:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/phpmyadmin/theme
  nfs_postgres:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/postgres/data
  nfs_pgvector:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/pgvector/data
  nfs_pgadmin_data:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/pgadmin/data
  nfs_pgadmin_src:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/pgadmin/src
  nfs_mongo_data_db:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mongo/data/db
  nfs_mongo_data_configdb:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mongo/data/configdb
  nfs_mongo_config:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/mongo/config
  nfs_redis_data:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/redis/data
  nfs_redis_config:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/redis/config
  nfs_redis_ui:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/database/redisui        